# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
@@ -0,0 +1,27 @@
#CFG
*.txt
*.json

#scripts

felix.cs
felixdef.cs

goose.cs
gooseinv.cs
goosesel.cs
rainbow.cs
rainbownew.cs
test.cs
clean.cs


#old scripts
robberyold.cs
dragonold.cs

#standart rutony
8ball.lua
bot_currenttrack.cs
bot_get_custom_credits.cs
bot_queue_switcher.cs
bot_revolver.cs
mark.lua
mark2.lua
